export(run_xmwas,do_rsd,plot_graph,get_sub_clusters,get_pairwise_cor,run_xmwas_child,launchShinyApp,network_custom,plot_visnet)
import(mixOmics, WGCNA, snow, igraph, graph, RBGL, plyr, plsgenomics, shiny, shinyBS,visNetwork)
exportClasses(info)
